<div class="modal">
  <ion-header-bar>
    <ion-button class="button icon-left ion-chevron-left button-clear" ng-click="leaveAddChangeOptionDialog()">Cancel</ion-button>
    <h1 class="title">Add option</h1>
  </ion-header-bar>
  <ion-content>
    <label class="item item-input">
      <span class="input-label">Option</span>
      <input type="text" ng-model="dialogData.newOption" />
    </label>
    <ion-button ng-disabled="!newOptionIsValid();" class="button button-block button-positive" ng-click="addOptionToPollData()">Add</ion-button>
  </ion-content>
</div>
