<ion-pane>
  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <button class="button-back ion-chevron-left" data-ng-click="goBack()"></button>
    </div>
    <h1 class="title">Create new Poll</h1>
    <div class="buttons">
      <button class="button" data-ng-click="openAddChangeOptionDialog()">+</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <label class="item item-input">
      <span class="input-label">Poll Title</span>
      <input type="text">
      </label>
      <ion-list show-delete="data.showDelete">
        <ion-item ng-repeat="poll in pollData.list" data-ng-click="openPoll(poll)">{{poll.title}}</ion-item>
      </ion-list>
    </ion-content>
  </ion-pane>
