<ion-pane>
  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <history-back>
      </history-back>
    </div>
    <h1 class="title">{{pollData.title.length > 0 ? pollData.title : 'Create new Poll'}}</h1>
    <div class="buttons buttons-poll-option">
      <button class="button button-assertive button-remove-option" ng-if="pollData.options.length > 0" ng-click="toggleDelete()">-</button>
      <button class="button button-add-option" data-ng-click="openAddChangeOptionDialog()">+</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <label class="item item-input">
      <span class="input-label">Poll Title</span>
      <input type="text" ng-model="pollData.title"/>
    </label>
    <ion-list show-delete="showDelete">
      <ion-item ng-if="pollData.options.length === 0">
        Add options using the + button on the top right corner
      </ion-item>
      <ion-item ng-repeat="option in pollData.options">
        <ion-delete-button class="ion-minus-circled" ng-click="removeOption($index)">
        </ion-delete-button>
        <span>{{option.name}}</span>
      </ion-item>
    </ion-list>
    <ion-button ng-disabled="!newPollIsValid();" class="button button-block button-positive button-save" ng-click="createPoll()">Save Poll</ion-button>
  </ion-content>
</ion-pane>
