<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Pollr</h1>
  </ion-header-bar>
  <ion-content>

    <label class="item item-input">
      <span class="input-label">Username</span>
      <input type="text" data-ng-model="storage.user.username"/>
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" data-ng-model="storage.user.password"/>
    </label>
    <button class="button button-login button-light" data-on-release="onRelease()">Login</button>
    <div class="assertive error-message login-failed" ng-show="authenticationFailed">
        <span class="error-message-span">Your username or your password is wrong!</span>
    </div>
  </ion-content>
</ion-pane>
