<ion-pane>
  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <history-back></history-back>
    </div>
    <h1 class="title">Pollr - Your Polls{{data.showReorder}}</h1>
    <div class="buttons">
      <button class="button" data-ng-click="openAddPollView()">+</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" data-on-refresh="reloadPollList()">
    </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="poll in pollData.list" data-ng-click="openPoll(poll)">{{poll.title}}</ion-item>
    </ion-list>
  </ion-content>
</ion-pane>
