<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.pollr378621" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>pollr</name>
    <description>
        An Ionic Framework and Cordova project.
    </description>
    <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <platform name="android">
        <icon density="ldpi" src="res/drawable-ldpi/icon.png" />
        <icon density="mdpi" src="res/drawable-mdpi/icon.png" />
        <icon density="hdpi" src="res/drawable-hdpi/icon.png" />
        <icon density="xhdpi" src="res/drawable-xhdpi/icon.png" />
        <icon src="res/drawable/icon.png" />
    </platform>
    <engine name="android" spec="^4.0.2" />
</widget>
